body{
    background: black;
}

#firstScreen{
    background: white;
    height: 100vh;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 50px;
    width: 80%;
}
.notif{
    position: absolute;
    right: 0;
}
.card{
   
    border-radius: 20px;
    width: 85%;
    height: 200px;
}
#card1{
    background: #34ace0;
    border: 1px solid #34ace0;

}
#card2{
    background: #33d9b2;
    border: 1px solid #33d9b2;
}
.person{
    position: absolute;
    right: 0;
}
#secondScreen{
    background: white;
    height: 100vh;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 100px;
    display: none;
}